html {
    background-color: maroon;
}

h1 {
    text-align: center;
    align-self: center;
    color: white;
    background-color: black;
    border: 10px solid black;
    border-radius: 5px;
    
}

div.title {
    width: fit-content;
    margin: auto;
}

ul {
    list-style-type: none;
    width: fit-content;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    border-top: 8px solid maroon;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: gray;
}

.active {
    background-color: white;
    color: black;
}